body {
    background-color: #F2E9E0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 3.125em;
}

h2 {
    font-size: 2.500em;
}

header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #4F4F4F;
    height: 5rem;
    position: sticky;
    top: 0;
    /*used to make the header stick to the top of the browser*/
    z-index: 100;
    /*z-index is 100 to make sure header is in front of any element on the page */
}

nav {
    padding: 2rem 2% 0rem 0px;
    overflow: hidden;
    display: inline-block;
    float: right;
}

nav ul {}

nav ul li {
    display: inline;
    /* Makes sure the list items dont take up the full width of the header*/
    padding-right: 4rem;
    font-size: 1.3em;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4F4F4F;
}

header a:visited {
    color: #4F4F4F;
}

header a:hover {
    text-decoration: underline;
    /*Underline only appears once hovered over*/
}

img {
    max-width: 100%;
    height: auto;
    /*Fixes the img before resizing*/
}

section img {
    border: 3px solid #F2E9E0;
}

section a {
    font-size: 1.00em;
    padding: 5% 30%;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #F2E9E0;
    text-decoration: none;
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    /* This is all for the learn more button, no links needed to be added into a section so I just used a section selector. Can easily be changed into a class if links need to be added in future, but is this for simplicity sake*/
}

section a:visited {
    color: #4F4F4F;
}

section a:hover {
    color: #f5f5f5;
    background-color: #4F4F4F;
}

section h6 {
    font-size: 0.813em;
    margin-top: 10%;
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    padding: 1.5% 0;
    border-top: 1px solid #4F4F4F;
}

footer p {
    margin-left: 5%;
    font-size: 0.7em;
    color: #848484;
    display: inline;
}

.socialfooter {
    width: 10rem;
    float: right;
    margin-right: 5%;
}

.socialfooter p {
    display: inline;
    margin-right: 10%;
    font-size: 0.8em;
}

.logo {
    display: inline-block;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.9em;
    color: #4F4F4F;
    text-decoration: none;
    margin: 1.75rem 0rem 0rem 2%;
}

.logo a {
    text-decoration: none;
}

.logo:hover {
    background-color: #4F4F4F;
    color: #f5f5f5;
    /*Indicates logo is clickable*/
}

.hero {
    /* Main hero content on the front page, the main element has the picture while the text (.herotext) is an element inside it  */
    text-align: left;
    background-image: url(../images/churchill-house-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    /* this is a specific way of determining the position of the image in the element. x% y%, bottom right corner is 100% 100%, top left is 0% 0%*/
    min-height: 60rem;
}

.herotext {
    padding-top: 45rem;
    /*    using margin-top breaks the page a bit so I used padding*/
    color: #f5f5f5;
    letter-spacing: 2px;
}

.contenttitle {
    /*    This is the picture on top of each content page, works the same as the hero classes*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 10rem;
}

.contenttitletext {
    letter-spacing: 2px;
    padding-top: 2%;
}

.wrapper {
    /*Centers content in the page nicely*/
    width: 80vw;
    margin: 0 auto;
}

.textonlysect {
    text-align: center;
    margin: 5rem 0px;
}

.textonlysect h3 {
    font-size: 1.875em;
}

.textonlysect h4 {
    font-size: 1.250em;
}

/*------------LEFT IMG SECTION------------*/
/*Section where img is positioned on the left*/

.leftimgsect {
    background-color: #093048;
    overflow: auto;
    /*    Overflow is added to make sure when imgs are being floated they don't break the layout of the page*/
}

/* A seperate div is added inside the section to control where the text is positioned instead of going through each element and adding margins/padding that way*/

.leftimgsecttext {
    width: 25rem;
    color: #f5f5f5;
    float: right;
    padding-bottom: 4%;
    padding-top: 4%;
}

.leftimgsecttext h3 {
    font-size: 1.875em;
    padding-bottom: 5%;
}

.leftimgsecttext p {
    font-size: 1.250em;
    margin-bottom: 10%;
}

.leftimgsect img {
    margin-top: 4%;
    margin-bottom: 5%;
    float: left;
}

.leftimgsect ul {
    list-style: disc;
}

.leftimgsect ul li p {
    margin-bottom: 5%;
}

/*------------RIGHT IMG SECTION------------*/
/*Section where img is positioned on the right*/

.rightimgsect {
    overflow: auto;
}

.rightimgsecttext {
    width: 25rem;
    float: left;
    padding-bottom: 5%;
    padding-top: 4%;
    color: #4F4F4F;
}

.rightimgsecttext h3 {
    font-size: 1.875em;
    padding-bottom: 5%;
}

.rightimgsecttext p {
    font-size: 1.250em;
    margin-bottom: 10%;
}

.rightimgsect img {
    margin-top: 4%;
    float: right;
}

.rightimgsect ul {
    list-style: disc;
}

.rightimgsect ul li p {
    margin-bottom: 5%;
}

/*Imgs in content pages have a different margin to compensate for how much content is in a section*/

.contentimgcontainer img {
    margin-top: 10%;
}

/*------------FIGURE IMG SECTION------------*/
/*Section where 2 imgs are side by side*/

.figuresect {
    background-color: #D89720;
    overflow: hidden;
    margin: 0 auto;
}

.figuresect img {
    width: 30rem;
    border: 3px solid #F2E9E0;
}

.figuresectleftimg {
    margin: 5% 0;
    margin-left: 10%;
}

.figuresectrightimg {
    margin: 5% 0;
    margin-right: 10%;
    float: right;
}

/* This is for social media links, needs slightly different styling to keep it on the right*/

.social {
    float: right;
    margin-right: 2rem;
    margin-left: 2rem;
    padding-top: 0.25%;
    font-size: 0.8em;
}

/* orangesect and bluesect IDs to change the color of a section and its text, put in just in case I want to add variety to a page/section*/

#orangesect {
    background-color: #D89720;
}

#orangesecttext {
    color: #093048;
}

#bluesect {
    background-color: #093048;
}

#bluesecttext {
    color: #f5f5f5;
}

/*IDs for the imgs on top of content pages, put in to different IDs because it saves me having to copy paste the same class for different pages. The IDs change the img and the text color*/

#aboutcontentimg {
    background-image: url(../images/churchill-house-28.jpg);
    color: #f5f5f5;
}

#historycontentimg {
    background-image: url(../images/churchill-house-19.jpg);
    color: #303030;
}

#robincontentimg {
    background-image: url(../images/churchill-house-25.jpg);
    color: #f5f5f5;
}

#robinendcontentimg {
    background-image: url(../images/churchill-house-25.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f5f5;
}

/*These IDs are for the end sections in each content page, they include and image and adds a slightly transparent background on the text to make it more readable*/

#robinendcontenttext {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.4);
    /* this method of adding background color allows me to set the transparency of the color*/
    padding-left: 1%;
    padding-right: 1%;
}

#historyendcontentimg {
    background-image: url(../images/churchill-house-39.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #f5f5f5;
}

#historyendcontenttext {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 1%;
    padding-right: 1%;
}

#aboutendcontentimg {
    background-image: url(../images/churchill-house-31.jpg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
    color: #f5f5f5;
}

#aboutendcontenttext {
    color: #f5f5f5;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 1%;
    padding-right: 1%;
}

@media screen and (min-device-width: 1450px) {

    /* These media queries focus on making all the pictures look as close to the design as possible at various breakpoints
        While most of the queries focus on the sizing of the img (as well as the distance between the imgs in the figure section), the query that starts at 1450px focuses on closing the distance between the images and text in the sections, as without this query the imgs and text were quite a distance apart
    */
    .leftimgsect img {
        width: 28rem;
        margin-left: 9%;
    }

    .leftimgsecttext {
        margin-right: 15%;
    }

    .rightimgsect img {
        width: 28rem;
        margin-right: 11%;
    }

    .rightimgsecttext {
        margin-left: 9%;
    }

    .figuresectleftimg {
        margin-left: 8%;
    }

    .figuresectrightimg {
        margin-right: 8%;
    }

}


@media screen and (min-device-width: 1280px) and (max-device-width: 1449px) {
    .leftimgsect img {
        width: 28rem;
    }

    .rightimgsect img {
        width: 28rem;
    }

    .figuresectleftimg {
        margin-left: 1%;
    }

    .figuresectrightimg {
        margin-right: 1%;
    }

}

@media screen and (min-device-width: 1110px) and (max-device-width: 1279px) {
    .leftimgsect img {
        width: 22rem;
    }

    .rightimgsect img {
        width: 22rem;
    }

    .figuresect img {
        width: 25rem;
        margin: 5% 1%;
    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 1109px) {
    .leftimgsect img {
        width: 20rem;
    }

    .rightimgsect img {
        width: 20rem;
    }

    .figuresect img {
        width: 23rem;
        margin: 5% 1%;
    }

    footer p {
        font-size: 0.6em;
    }

}

@media screen and (min-device-width: 0px) and (max-device-width: 699px) {
    .leftimgsect img {
        width: 20rem;
    }

    .rightimgsect img {
        width: 20rem;
    }

    .figuresect img {
        width: 23rem;
        margin: 5% 1%;
    }

    .textonlysect h3 {
        /*This had to be added because around this device width the text would be ridiculously big*/
        font-size: 1em;
        line-height: 20px;
    }

    .textonlysect h4 {
        font-size: 0.6em;
        line-height: 20px;
    }

    footer p {
        font-size: 0.3em;
    }

    .social {
        padding-top: 2%;
    }
}
